* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #ddd;
  font-size: 18px;
  font-family: Oswald, Helvetica, sans-serif;
  margin: 50px;
}

.container {
  display: grid;
  gap: 10px;
}

/* Header */
.header {
  display: grid;
  grid-template-areas:
    'hero hero feature-1'
    'hero hero feature-2';
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url('img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
}

.hero > * {
  display: none;
}

.features {
  /* background-color: black; */
  color: white;
  display: grid;
  /* justify-content: center;
            align-content: center; */
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url('img/hoodie.jpg');
  background-size: cover;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url('img/t-shirt.jpg');
  background-size: cover;
}

.features .price {
  font-size: 3em;
  font-weight: 200;
}

/* Navigasi */
.menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  order: -1;
}

.menu .brand {
  font-size: 1.3em;
  color: #333;
}

.menu ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.menu a {
  display: block;
  text-decoration: none;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
}

/* Humburger menu */
.menu-toggle {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  display: none;
  z-index: 9999;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #000;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Humberger Animation */
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:last-child {
  transform-origin: 0 0;
}

/* Services */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.service {
  background-color: white;
  padding: 15px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.service .icon {
  font-size: 3em;
}

.service h3 {
  font-size: 1.5em;
}

.service p {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 0.8em;
}

/* gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 100px;
  gap: 5px;
}

.gallery h2 {
  /* grid-column-start: 1;
            grid-column-start: -1; */
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
}

/* Responsive */
/*  */
@media screen and (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero > * {
    display: block;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #000;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

/*  */
@media screen and (max-width: 768px) {
  .menu {
    order: -1;
    justify-items: end;
  }

  .menu ul {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    background-color: #000;
    width: 100%;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s;
  }

  .menu ul.slide {
    transform: translateY(0);
    opacity: 0.9;
  }

  .menu-toggle {
    display: flex;
  }
}

/*  */
@media screen and (max-width: 600px) {
  .header {
    grid-template-areas:
      'hero'
      'feature-1'
      'feature-2';
  }

  body {
    margin: 15px;
  }
}
